/*
* Default Elements
*/
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

h1,h2,h3,h4,h5,h6,span{
    text-align: center;
    line-height:1.25;
}

p{
    line-height:1.5;
    font-size: 16px;
    text-align: center;
}

li{
    list-style-type: none;
}

.row{
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
}

/*
*Navigation
*/
#navigation{
    border-bottom: solid 2px black;
}
.personal_logo{
    font-size: 30px;
    font-weight: bold;
    margin:0 12px;
}

.navBar{
    height: 75px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background-color:cornsilk;
}

.nav-link_Anchor{
    margin:0 12px;
    color: black;
    text-decoration: none;
}

.navObjects{
    display: flex;
}

.nav-link_Anchor--primary{
    background-color: Black;
    padding:8px 20px;
    border-radius: 50px;
    color:white;
}

.nav-link_Anchor--primary:hover{
    background-color: purple;
}

/*
*Introduction
*/

#introduction{
    display: grid;
    place-items: center;
    min-height: 80vh;
    flex-direction: column;
    background: url(../Assets/Images/pikachu.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro_container{
    display: flex;
    align-items: center;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}

.about_me--info{
    font-size: 20px;
    margin-bottom: 28px;
    margin-top: 28px;
}

.color--white{
    color:white
}

#Languages{
    display: grid;
    place-items: center;
    min-height: 60vh;
    flex-direction:column;
}

.info_title{
    font-size: 25px;
}

.personal_logo{
    display:flex;
    justify-content: center;
    font-size:25px;
}

/*
* Languages
*/

#languages{
    display: flex;
    align-items: center;
}

.title_container{
    display:flex;
    justify-content: center;
    width: 100%;
    min-height: 50px;
    align-items: center;
}
.title{
    text-align: center;
    text-decoration: underline;
    font-size: 36px;
    margin-right: 3vh; 
    margin-top: 10vh;
    margin-bottom: 2vh;
}

.language_container{
    display: flex;
}

.language{
    width: 20%;
    display: flex;
    justify-content: center;
    position: relative;
}
.language_list{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
}

.language_image{
    width: 100%;
    max-width:100px;
    transition: all 300ms ease;
}

.image_wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 30px;
}

.language_image:hover{
    filter: brightness(80%);
    opacity: 0.86;
    transform:scale(0.9);
}

.language_name{
   position: absolute;
   bottom:0;
   transform: scale(0);
   transition: all 300ms ease;
}
.language:hover .language_name{
    transform: scale(1);
}
